.p-scroll-wrap {
    font-size: 14px;
    max-width: 456px;
    height: 144px;
    transform: scale(1);
    margin: 0 auto;
    position: relative;
    top: calc(50% - 72px);
  }
  .p-select-main {
    position: relative;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    background: url(../img/bg-repeat.png) repeat-x;
    &:before, &:after{
      content: '';
      position: absolute;
      top: 0;
      z-index: 3;
      background: url(../img/bg-border.png);
      width: 21px;
      height: 144px;
    }
    &:before{
      left: 0;
    }
    &:after{
      transform:rotateY(180deg);
      right: 0;
    }
    & .p-select-body {
      position: relative;
      height: 100%;
      margin: 0 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      box-sizing: border-box;
      ul {
        list-style-type: none;
      }
      & .p-select-line {
        z-index: 100;
        pointer-events: none;
        padding: 0 5px;
      }
      & .p-select-item {
        position: relative;
        display: flex;
        align-items: center;
        height: 104px;
        width: 390px;
        text-align: center;
        overflow: hidden;
        & .p-select-col {
          position: relative;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .p-select-list,
  .p-select-wheel,
  .p-select-line {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 34px;
    margin-top: -18px;
    box-sizing: border-box;
    transition: all .3s;
  }
  .p-select-wheel {
    padding: 0;
    transform-style: preserve-3d;
    height: 34px;
    z-index: 1;
    & > li {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      color: #a3a6b3;
      &.visible {
        display: list-item;
      }
    }
  }
  .p-select-ul>li,.p-select-wheel>li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding: 0 12px;
    line-height: 34px;
    font-size: 14px;
    color: #a3a6b3;
    box-sizing: border-box;
    text-align: center;
    user-select: none;
  }
  .p-select-list {
    position: relative;
    z-index: 2;
    height: 34px;
    overflow: hidden;
    background-color: #fff;
    & .p-select-ul {
      margin: 0;
      padding: 0;
      position: relative;
      &>li {
        color: #333333;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
  .triangle{
    width: 0;
    height: 0;
    border-style: solid;
    position: relative;
    top: calc(50% - 4px);
    &.triangle-right{
        border-color: transparent transparent transparent #333333;
        border-width: 4px 0 4px 6.9px;
        float: left;
    }
    &.triangle-left{
        border-color: transparent #333333 transparent transparent;
        border-width: 4px 6.9px 4px 0;
        float: right;
    }
  }